
body{
    background-color: lightgray;
    width: 80%;
    margin: 10px auto;
}
img{
    width: 70px;
    height: 70px;
    margin: 10px auto;
}
div.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px 30px;
}
div.grid_item{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    display: grid;
}
h1{
    font-size: 13px;
    margin: auto;
    border: 1px solid black;
}
p{
    font-size: 10px;
    margin: auto;
    border: 1px solid black;
}
a.button{
    text-decoration: none;
    color: gray;
    font-size: 10px;
    border: 1px solid black;
    font-weight: 700;
    margin: 40px auto;
    padding: 10px;
    width: fit-content;
}
a.button:hover{
    color: white;
    background-color: blue;
    border-radius: 25px;
}